{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "max-len": "off"
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },

  "plugins": [
    "jest"
  ]

}
